<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="mb-0">Dashboard</h4>
            </div>
            <div class="card-body">
                <h5>Selamat datang di RBAC Todo App!</h5>
                <p>Ini adalah aplikasi todo list sederhana dengan implementasi Role-Based Access Control (RBAC).</p>
                
                <div class="mt-4">
                    <h6>Fitur yang tersedia:</h6>
                    <ul>
                        <li>Manajemen Todo List (create, read, update, delete)</li>
                        <li>Role-Based Access Control dengan 2 roles (super_admin, user)</li>
                    </ul>
                </div>

                <div class="mt-4">
                    <h6>Navigasi:</h6>
                    <ul>
                        <li><a href="/todos">Todo List</a> - Kelola todo list Anda</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>